body {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.card {
  width: 18rem;
  margin: 2rem;
}
.row > div[class*='col-'] {
  display: flex;
  flex:1 0 auto;
}

#map {
  width: 100vh;
  height: 100vh;
}